/* ========================================================== */
/* Общие стили, обнуляющие стандартные стили, которые задаются по умолчанию браузером */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	position: relative;
	font-family: "Tinos", sans-serif;
	font-weight: 400;
	margin: 0;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 11;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

._ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

._ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

/* ./Общие стили, обнуляющие стандартные стили, которые задаются по умолчанию браузером */
/* ========================================================== */

/* HEADER */
/* Задаем фон шапки */
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(250, 223, 214, 0.7);
}

/* Ограничиваем контент по ширине и делаем его по центру сайта - margin: 0 auto; + делаем отступы безопасности - padding: 0 15px; для того, чтобы контент при изменении ширины экрана не прилипал к его краям */
.header-container,
.footer-container {
	width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

/* К контейнеру применяем flex, чтобы выстроить в одну линию и раскидать блоки header-body и header-nav внутри контейнера header-container */
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Задаем правый внешний отступ от логотипа до навигации */
.header-body {
	margin-right: 130px;
}

/* Стилизуем логотип. Стили берем из figma на вкладке Inspect*/
.header-logo,
.footer-logo {
	font-family: "Redressed", sans-serif;
	border-bottom: 1px solid #000;
	font-size: 48px;
	line-height: 108.24%;
	text-align: center;
	letter-spacing: 0.025em;
	color: #000;
	padding-top: 11px;
	cursor: pointer;
}

/* Стилизуем текст под логотипом */
.header-text,
.footer-text {
	font-size: 14px;
	line-height: 74.24%;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 14px;
	/* background-color: rgba(250, 223, 214, 0.7); */
	letter-spacing: 0.025em;
	color: #000;
}

/* К header-list применяем flex, чтобы выстроить в одну линию и раскидать блоки header-item */
.header-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Задаем отстуупы от элементов меню вправо, но отменяем его у последнего элемента - за это отвечает псевдокласс :not(:last-child) */
.header-item:not(:last-child) {
	margin-right: 120px;
}

/* Стилизуем ссылки меню. Св-во transition: color 0.3s ease-in; делает изменение цвета текста при наведении более плавным */
.header-link {
	font-size: 35px;
	line-height: 74.24%;
	text-align: center;
	letter-spacing: 0.025em;
	color: #000;
	transition: color 0.3s ease-in;
	cursor: pointer;
}

/* Добавляем эффект при наведении на ссылку меню */
.header-link:hover {
	color: #ce8272;
}

/* ./HEADER */

/* ========================================================== */
/* SECTION WELCOME */

/* Стилизуем секцию, добавляем фоновый цвет с прозрачностью 0.3, добавляем отступы сверху и снизу */
.section-welcome {
	position: relative;
	/* background-color: rgba(229, 229, 229, 0.3); */
	padding-top: 360px;
	padding-bottom: 203px;
	z-index: -1;
}

/* Ограничивающий контейнер. Он отличается по макету от контейнера шапки сайта, поэтому задаем отдельно */
.container {
	width: 1400px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Как и в шапке сайта добавляем flex чтобы раскидать контент и выровнять его в соответствии с макетом */
.welcome-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Для блока с текстом и кнопкой задаем максимальную ширину, чтобы контент не заходил за пределы и не налезал на другие элементы верстки */
.welcome-body {
	max-width: 820px;
}

/* Для блока с текстом задаем внутренние отступы для всех элементов, ктороме последнего ("висящий" отступ нам не нужен!) */
.welcome-body > *:not(:last-child) {
	padding-bottom: 80px;
}

/* Стилизуем заголовок - стили берем из figma */
.welcome-title {
	font-family: Philosopher;
	font-size: 50px;
	line-height: 130%;
	letter-spacing: 0.025em;
	color: #000;
}

/* Стилизуем текст описания - стили берем из figma */
.welcome-description {
	font-size: 35px;
	line-height: 60px;
	letter-spacing: 0.025em;
	color: #000;
}

/* Часть текста описания в макете выделено другим цветом, поэтому задаем ему необходимый цвет - стили берем из figma */
.welcome-description-colorize {
	color: #01555f;
}

/* Стилизуем кнопку - стили берем из figma */
.welcome-btn {
	display: inline-block;
	font-size: 35px;
	line-height: 74.24%;
	text-align: center;
	letter-spacing: 0.025em;
	color: #000;
}

/* Общие стили для всех кнопок на сайте - стили берем из figma */
.btn {
	background: rgba(206, 130, 114, 0.2);
	border: 2px solid #ce8272;
	text-align: center;
	padding: 24px 80px;
	height: 80px;
	border-radius: 123.556px;
	transition: all 0.3s ease-in;
	cursor: pointer;
}

/* Ховер-эффект для кнопки */
.btn:hover {
	background: rgba(1, 85, 95, 0.2);
	border: 2px solid #01555f;
	border-radius: 123.556px;
}

/* Стилизуем картинку. Задаем ширину и высоту. z-index: 1 позволяет управлять отображением элементов по оси z. В данном случае картинка будет поверх рамки, стили которой описаны ниже */
.welcome-image {
	position: relative;
	width: 460px;
	height: 690px;
	object-fit: cover;
	z-index: 1;
}

.welcome-image img {
	border-radius: 258.423px 0px;
}

/* Делаем рамку для картинки с помощью псевдоэлемента ::before. Чтобы он работал мы задаем классу welcome-image position: relative;, а псевдоэлементу ::before задаем абсолютное позиционирование */
.welcome-image::before {
	position: absolute;
	content: "";
	width: 457px;
	height: 721px;
	top: -17px;
	left: -26px;
	border: 4.30705px solid #01555f;
	border-radius: 260px 0px 260px 0px;
	z-index: -1;
}

/* ./SECTION WELCOME */

/* ========================================================== */
/* SECTION ABOUT */

/* Стили для фона всей секции и отступы */
.section-about {
	background-color: rgba(229, 229, 229, 0.4);
	padding-bottom: 132px;
}

/* Отступ вверх от заголовка */
.about-title {
	padding-top: 3px;
}

/* Стили для заголовка */
.title {
	font-family: Philosopher;
	font-size: 65px;
	line-height: 92%;
	letter-spacing: 0.025em;
	text-align: center;
	color: #000;
}

/* Стили для описания */
.about-description {
	padding-bottom: 100px;
	font-size: 35px;
	font-weight: 400;
	line-height: 171%;
	letter-spacing: 0.025em;
	text-align: center;
	color: #000;
}

/* Применяем flex для контейнера с картинками и текстом, выравниваем по центру - св-во align-items: center; */
.about-body {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

/* Задаем flex для контейнера about-body-item, чтобы выровнять элементы контейнера в ряд, задаем базовый размер флекс элемента по основной оси flex: 0 1 35%;*/
.about-body-item {
	display: flex;
	align-items: center;
	flex: 0 1 35%;
	margin-bottom: 56px;
}

/* Стили для картинок - размеры высоты и ширины + отступ вправо */
.about-body-image {
	width: 100px;
	height: 100px;
	padding-right: 20px;
}

/* Стили для текста */
.about-body-text {
	font-size: 35px;
	line-height: 114%;
	letter-spacing: 0.025em;
	max-width: 330px;
	color: #000000;
}
/* ./SECTION ABOUT */

/* ========================================================== */
/* SECTION SERVICE */

/* Стили для фона всей секции и отступы */
.section-service {
	background-color: rgba(229, 229, 229, 0.4);
	padding-bottom: 131px;
}

/* Отступы от заголовка вниз */
.service-title {
	padding-bottom: 112px;
}

/* Flex для карточек */
.service-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Задаем максимальный размер для карточки */
.service-card {
	max-width: 554px;
}

/* Отступ вниз от карточки */
.service-card-header {
	padding-bottom: 20px;
}

/* Задаем размеры картинки, object-fit: cover позволяет уместить изображение в заданные размеры без искожения, изображение как-бы подстраивается под размеры контейнера */
.service-card-header img {
	width: 554px;
	height: 352px;
	object-fit: cover;
}

/* Стили для загголовка карточки */
.service-card-title {
	font-weight: 400;
	font-size: 35px;
	line-height: 114%;
	padding-bottom: 15px;
	letter-spacing: 0.025em;

	color: #000;
}

/* Подвал карточки - в нем расположены цена и кнопка - делаем для них flex и выравниваем как требует макет */
.service-card-footer {
	display: flex;
	align-items: center;
}

/* Стили для текста с ценой */
.service-card-price {
	margin-right: 50px;
	font-size: 50px;
	line-height: 120%;
	letter-spacing: 0.025em;
	color: #ce8272;
}

/* Стили для кнопки */
.service-card-btn {
	font-size: 35px;
	padding: 20px 60px;
	height: 80px;
	letter-spacing: 0.025em;
	color: #000;
}

/* ./SECTION SERVICE */

/* ========================================================== */
/* SECTION WORKERS */

/* Стили для фона всей секции и отступы */
.section-workers {
	background-color: rgba(229, 229, 229, 0.4);
	padding-bottom: 130px;
}

/* Отступы от заголовка вниз */
.workers-title {
	padding-bottom: 110px;
}
/* Задаем позиционирование для блока, который является родителем для дочерних его элементов column-item */
.column-item {
	position: relative;
}

/* Для слайдера тоже используем flex */
.item {
	display: flex;
	align-items: center;
	z-index: 1;
}

/* Стрелочка вперед для слайдера позиционируем абсолютно (абсолютно родителя, которому мы выше задавали position:relative, чтобы стрелочки слайдера находились в нужном для нас контейнере, их мы позиционируем, в данном случае, св-вами top: 50%; right: 23px;) */
.slick-next {
	position: absolute;
	background-color: transparent;
	border: none;
	background-image: url("../images/icons/next-arrow.png");
	background-repeat: no-repeat;
	background-size: 50px 70px;
	background-position: center;
	top: 50%;
	right: 40px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-indent: -9999px;
	display: block;
	width: 50px;
	height: 70px;
	opacity: 1;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	cursor: pointer;
	z-index: 999;
}

/* Стрелочка назад для слайдера позиционируем абсолютно (абсолютно родителя, которому мы выше задавали position:relative, чтобы стрелочки слайдера находились в нужном для нас контейнере, их мы позиционируем, в данном случае, св-вами top: 50%; right: 23px;) */
.slick-prev {
	position: absolute;
	background-color: transparent;
	border: none;
	background-image: url("../images/icons/prev-arrow.png");
	background-repeat: no-repeat;
	background-size: 50px 70px;
	background-position: center;
	top: 50%;
	left: 23px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-indent: -9999px;
	display: block;
	width: 50px;
	height: 70px;
	opacity: 1;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	cursor: pointer;
	z-index: 999;
}

.item-row {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	margin-right: 20px;
}

/* Размеры для блока с картинкой */
.item-image {
	width: 700px;
	height: 700px;
}

/* Размеры для картинки и скругление углов - border-radius: 260px 0px 0px 0px - здесь 260рх - верх, далее по цифрам право, низ и лево*/
.item-image img {
	width: 545px;
	height: 700px;
	object-fit: cover;
	object-position: top;
	border-radius: 260px 0px 0px 0px;
}

/* Задаем жестко для данных стилей слайдера, чтобы не разваливался контент внутри */
.slick-initialized .slick-slide {
	display: inline-flex !important;
}

/* Стили и отступы для текста */
.item-body {
	padding: 73px 36px 76px;
	background: #ce8272;
	border-radius: 0px 0px 260px 0px;
}

.item-body p {
	padding-right: 178px;
}

/* Стили и отступы для заголовка*/
.item-body-title {
	padding-bottom: 72px;
	font-size: 50px;
	line-height: 80%;
	letter-spacing: 0.025em;
	color: #fff;
}
.item-body-text {
	font-size: 35px;
	line-height: 114%;
	letter-spacing: 0.025em;
	color: #fff;
}

.item-body-text:not(:last-child) {
	padding-bottom: 20px;
}

/* ./SECTION WORKERS */

/* ========================================================== */
/* SECTION ACTIONS */

/* Стили для фона всей секции и отступы */
.section-actions {
	background-color: rgba(229, 229, 229, 0.4);
	padding-bottom: 132px;
}

/* Отступы от заголовка вниз */
.actions-title {
	padding-bottom: 120px;
}

/* Рсполагаем карточки в ряд относительно друг друга с помощью flex */
.actions-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.actions-card {
	max-width: 550px;
	display: flex;
	flex-direction: column;
	align-items: self-start;
}
.actions-card-header {
	padding-bottom: 42px;
}

/* Размеры для изображений */
.actions-card-header img {
	width: 395px;
	height: 593px;
	object-fit: cover;
}

/* Располагаем фото влево с помощью align-self: flex-start; */
.actions-card-header_left {
	position: relative;
	align-self: flex-start;
	z-index: 3;
}

/* С помощью псевдожлементов делаем подложку (розового и зеленого цветов) для фотографий */
.actions-card-header_left::before {
	content: "";
	position: absolute;
	top: -22px;
	left: 45px;
	background: #ce8272;
	width: 393px;
	height: 643px;
	z-index: -1;
}

/* Располагаем фото вправо с помощью align-self: flex-end; */
.actions-card-header_right {
	position: relative;
	align-self: flex-end;
	z-index: 3;
}
/* С помощью псевдожлементов делаем подложку (розового и зеленого цветов) для фотографий */
.actions-card-header_right::before {
	content: "";
	position: absolute;
	top: -22px;
	left: -45px;
	background: #01555f;
	width: 393px;
	height: 643px;
	z-index: -1;
}

/* Стили для заголовка */
.actions-card-title {
	font-weight: 400;
	font-size: 35px;
	line-height: 114%;
	padding-bottom: 15px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #000;
}

.actions-card-title_indent {
	text-indent: 30px;
}
/* Флекс для секции с ценой и кнопкой, опять же выстраивам с помощью влекса их в ряд и позиционаруем согласно макета */
.actions-card-footer {
	display: flex;
	align-self: flex-end;
	align-items: center;
}
/* Стили для текста с ценой */
.actions-card-price {
	margin-right: 50px;
	font-size: 50px;
	line-height: 120%;
	letter-spacing: 0.025em;
	color: #ce8272;
}

.actions-card-price_fix {
	color: #01555f;
}

/* Стили для кнопки */
.actions-card-btn {
	font-size: 35px;
	padding: 18px 60px;
	height: 80px;
	letter-spacing: 0.025em;
	color: #000;
}

/* ./SECTION ACTIONS */

/* ========================================================== */
/* SECTION CONTACTS */

/* Стили для фона всей секции и отступы */
.section-contacts {
	background-color: rgba(229, 229, 229, 0.4);
	padding-bottom: 140px;
}

/* Отступы от заголовка вниз */
.contacts-title {
	margin-bottom: 100px;
}

/* Flex для контейнера с контентом */
.contacts-body {
	display: flex;
	justify-content: center;
}

/* Позиционируем эементы флекса */
.contacts-body-list.ml {
	padding-left: 125px;
	flex-basis: 48%;
}

/* Стили для контактов, кроме последнего элемента */
.contacts-body-list:not(:last-child) {
	border-right: 3px solid #01555f;
	margin-left: 90px;
	flex-basis: 35%;
}

/* Стили для контактов */
.contacts-item {
	font-size: 35px;
	line-height: 171%;
	letter-spacing: 0.025em;
	color: #000;
}
/* ./SECTION CONTACTS */

/* ========================================================== */
/* SECTION FOOTER */

/* Отступы и фон для всего футера сайта */
.footer {
	min-height: 139px;
	background-color: rgba(250, 223, 214, 0.7);
}

/* На всю контентную часть делаем flex и располагаем их на одинаковом расстоянии друг от друга с помощью св-ва justify-content: space-around; */

.footer-body {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Стили для адресов */

.footer-contacts {
	padding-top: 10px;
	padding-bottom: 21px;
	font-size: 20px;
	line-height: 300%;
	letter-spacing: 0.025em;
	color: #000;
}

/* Внутренний отступ для адресов */
.footer-address {
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0.025em;
	color: #000;
}

/* Внутренний отступ для адресов */
.footer-address:not(:last-child) {
	padding-bottom: 45px;
}

/* Flex для кконтейнера с параграфом и иконками соц.сетей */
.footer-socials {
	display: flex;
}

/* Задаем иконкам соц.сетей flex, тем самым выстраивая их в линию */
.footer-list {
	display: flex;
	align-items: center;
	list-style-type: none;
}

/* Задаем размеры для ссылок соц.сетей, делаем их блчными (display: block;) */
.footer-link {
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
}

/* Делаем отступ для строки Наши соц.сети */
.footer-contacts {
	margin-right: 28px;
}

/* Делаем отступы для картинок соц.сетей (кроме последнего) */
.footer-list-item:not(:last-child) {
	margin-right: 21px;
}

/* Если стили для нескольких классов одинаковые, их можно объндинить, прописав через запятую и применив общие для них св-ва */
.insta,
.vk,
.fb {
	background-size: 50px 50px;
	background-repeat: no-repeat;
	z-index: 10;
	transition: 0.3s ease-in;
}

/* Добавив, соответствующие классы выводим картики соц.сетей через свойство background-image: url("путь до папки с картинками"); */
.insta {
	background-image: url("../images/icons/insta.png");
}

/* Добавляем ховер-эффекты, заменяя картинку на другую (другого цвета, например) */
.insta:hover {
	background-image: url("../images/icons/insta-hover.png");
}

.vk {
	background-image: url("../images/icons/vk.png");
}

.vk:hover {
	background-image: url("../images/icons/vk-hover.png");
}

.fb {
	background-image: url("../images/icons/fb.png");
}

.fb:hover {
	background-image: url("../images/icons/fb-hover.png");
}
